@charset "utf-8";

// Initial Variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Default accessible colors which give over 90 WCAG accessible combinations
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$black: #111111;
$gray: #aaaaaa;
$silver: #dddddd;
$white: #ffffff;

// Add derived variable colors and their inverts...these combinations should all be compliant
$primary: $teal;
$primary-invert: $navy;
$link: $navy;
$link-invert: $silver;
$info: $aqua;
$link-invert: $navy;
$success: $green;
$success-invert: $navy;
$warning: $yellow;
$warning-invert: $navy;
$danger: $maroon;
$danger-invert: $white;
$light-invert: $black;

// Update the sans-serif font family
$family-sans-serif: "Open Sans", "Roboto", sans-serif;
$family-subtitle:  "Nunito", sans-serif;
$family-title: "Nunito", sans-serif;

@import "../node_modules/bulma/bulma";
